
#contenedor{
	width: 960px;
	height: 1500px;
	background-color: purple;
	margin-left: auto;
	margin-right: auto;

}


#cabecera{
	height: 100px;
	background: linear-gradient(top, orange, pink);
	position: relative;
}

#marca{
	height: 40px;
	width: 80px;
	background-color: blue;
	float: left;
	margin: 30px;
}

#botonera{
	height: 50px;
	width: 60%;
	background-color: green;
	float: left;
	margin: 20px; 

}

.botones{
	height: 20px;
	width: 20%;
	background-color: yellow;
	float: left;
	margin: 20px; 
	display: inline-block; 
}

#redes{
	height: 40px;
	width: 80px;
	background-color: white;
	float: left;
	margin: 30px;

}
#nosotros{
	width: 100%;
	height: 800px;
	background-color: pink;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.caja_nosotros{
	width: 70%;
	height: 25%;
	background-color: brown;
	float: left;
	margin-left: 15%;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 10px;

}

#productos{
	width: 100%;
	height: 600px;
	background-color: lightblue;
}

.caja_productos{
	width: 20%;
	height: 40%;
	background-color: yellow;
	float: left;
	border-radius: 20px;
	margin:20px;
}

#contacto{
	width: 100%;
	height: 600px;
	background-color: cyan;
}

.caja_contacto{
	width: 20%;
	height: 70%;
	background-color: white;
	position: relative;
	float: left;
	margin-left: 5%;
	margin-right: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.boton_contacto{
	width: 80%;
	height: 10%;
	background-color: orange;
	margin-left: 10%;
	margin-top: 10%;

}

#pie{
	width: 100%;
	height: 200px;
	background-color: black;
}

.pie_boton{
	width: 30%;
	height: 20%;
	background-color: yellow;
	margin:10px;
	display: inline-block;
}

#extras{
	width: 80px;
	height: 30px;
	position: fixed;
	margin-left: 880px;
	float: right;
	top: 60px;
	background-color: orange;
}